.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1478px;
  margin: 0 auto;
}

.content {
  background: light-dark(var(--p-surface-50), var(--p-surface-900));
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
